.contact-section {
  position: relative;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.contact-section > div > p {
  color: #000000;
}

.contact-info {
  position: absolute;
  top: 30%;
  left: 40px;
  font-size: calc(15px + 1vw);
}

.mail {
  position: absolute;
  left: 40px;
  top: 45%;
  font-size: calc(18px + 2vw);
  text-decoration: none;
  color: #000000;
}

.copyright-info {
  position: absolute;
  bottom: 8px;
  left: 40px;
  font-size: calc(3px + 0.7vw);
}
